[submodule "homeassistant/home-assistant-configuration"]
	path = homeassistant/home-assistant-configuration
	url = https://github.com/grcanosa/home-assistant-configuration.git
[submodule "appdaemon/home-assistant-apps"]
	path = appdaemon/home-assistant-apps
	url = https://github.com/grcanosa/home-assistant-apps.git
